@import '../gerneral/typography';

main {
  width: 320px;
  height: 499px;
  background-color: $primary-color;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    @include heading;
    margin: 0 16px 16px;
  }

  p {
    @include text;
    margin: 0 16px;
  }
}

#qr_code {
  width: 288px;
  height: 288px;
  margin-top: 16px;
  border-radius: 10px;
}

#text {
  width: 288px;
  height: 131px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 40px;
}
